<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ble" android:versionCode="1" android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="18" android:targetSdkVersion="18" />
    
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:theme="@style/AppTheme" >
        
        <activity android:name=".activity.SplashActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.CatalogActivity"/>
        <activity android:name=".activity.QueryBalanceActivity"/>
        <activity android:name=".activity.QueryTransHistoryActivity"/>
        <activity android:name=".activity.RechargeActivity"/>
        
        <service android:name=".client.BLEService" android:enabled="true"/>
        
    </application>

</manifest>
